<!DOCTYPE html>
%html
  %head
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  %body
    %h3
      Nowy post na stronie
      =@sm.name
    %p= link_to "#{@new_post_title} (#{@sm.uri}p#{@sm.last_post})", "#{@sm.uri}p#{@sm.last_post}"
