%h3
  Site name:
  =@sm.name
%br

%p
  Address:
  =link_to @sm.uri, @sm.uri

%p
  Last post address:
  =link_to "#{@sm.uri}p#{@last_post_sm_id}", "#{@sm.uri}p#{@last_post_sm_id}" # TODO create helper for building this url

%p
  Are new posts published?
  %b
    - if @new_posts
      %ul
        - @new_posts.each do |post_id, post_title|
          %li= link_to "#{post_id}: #{post_title}", "#{@sm.uri}p#{post_id}", target: :blank
    - else
      No

%p
  New id:
  = @sm.last_post

%br
=link_to 'Edit', edit_sm_path(@sm)
|
=link_to 'Back', sms_path
