<%= form_for(@site) do |f| %>
  <% if @site.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@site.errors.count, "error") %> prohibited this site from being saved:</h2>

      <ul>
      <% @site.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :uri %><br>
    <%= f.text_field :uri %>
  </div>
  <div class="field">
    <%= f.label :last_status %><br>
    <%= f.text_field :last_status %>
  </div>
  <div class="field">
    <%= f.label :last_status_date %><br>
    <%= f.datetime_select :last_status_date %>
  </div>
  <div class="field">
    <%= f.label :last_post %><br>
    <%= f.text_field :last_post %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
