%h3
  Site name:
  =@site.name
%br

%p
  Address:
  =link_to @site.uri, @site.uri

%p
  Last post address:
  =link_to "#{@site.uri}p#{@last_post_site_id}", "#{@site.uri}p#{@last_post_site_id}" # TODO create helper for building this url

%p
  Is new post published? (
  =link_to("#{@site.uri}p#{@site.last_post}", "#{@site.uri}p#{@site.last_post}")
  )
  %b
    =@p ? 'YES!' : 'No'

%br
=link_to 'Edit', edit_site_path(@site)
|
=link_to 'Back', sites_path
