<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @site.name %>
</p>

<p>
  <strong>Uri:</strong>
  <%= @site.uri %>
</p>

<p>
  <strong>Last status:</strong>
  <%= @site.last_status %>
</p>

<p>
  <strong>Last status date:</strong>
  <%= @site.last_status_date %>
</p>

<p>
  <strong>Last post:</strong>
  <%= @site.last_post %>
</p>

<%= link_to 'Edit', edit_site_path(@site) %> |
<%= link_to 'Back', sites_path %>
